<nav class="navbar navbar-expand-sm navbar-dark bg-dark h-100">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="fas fa-hospital-user me-1 ms-5 text-info"></i>
            Career Guidance
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="courses" routerLinkActive="active">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="exams" routerLinkActive="active">Exams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="news" routerLinkActive="active" >AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" routerLink="faq" routerLinkActive="active">FAQ's</a>
          </li>
          
          <!-- <li class="nav-item" *ngIf="us.userLoginStatus">
            <a class="nav-link text-white" routerLink="hospitals" routerLinkActive="active">Hospitals</a>
          </li> -->
  
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
  
  